[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/cache"]
	path = modules/cache
	url = https://github.com/kohana/cache.git
[submodule "modules/minion"]
	path = modules/minion
	url = https://github.com/synchrone/minion.git
