.ui-listview .ui-li-icon {
    max-height:24px;
    max-width:24px;
    top: 10px;
}
.ui-listview .ui-li-desc{
    display: inline;
}
.ui-listview .ui-li-content{
    float: none;
}
.station_name{
    margin-right: 0;
    text-align: left;
}
.ui-label {
    color: #4C596E;
    font-size: 14px;
}
.zeromargin {
    margin: 0;
}

/*div.ui-page[data-role=page] {
    width: 320px;
}*/

.ui-header .ui-title {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
    top: 3px;
}

.ui-header a.ui-btn-left{
    position: relative;
    top: 0px;
    margin-right: 15px;
}
