.ui-listview .ui-li-icon {
    max-height:24px;
    max-width:24px;
    top: 10px;
}
.ui-listview .ui-li-route {
    float: left;
    width: 25px;
}
.station_name{
    margin-right: 0;
    text-align: left;
}
.ui-label {
    color: #4C596E;
    font-size: 14px;
}
.zeromargin {
    margin: 0;
}